/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-image: url(../images/the-hill.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: antiquewhite;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;

}
p {
  color: antiquewhite;
}
#logo {
  padding: 1rem 0 0 1rem;
  margin: 0;
}

main {
  border: 2px solid white;
  align-items: center;
}

#article-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#article-section > section {
  border: 1px solid white;
  flex: 1 1 45%;
}

nav {
  flex-grow: 1;
}

ul {
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly;
  gap: 1rem;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding-top: 1.5rem;

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
